.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideBarContainer {
  width: 20%;
  height: 100%
}

.mainContainer {
  width: 80%;
  height: 100%
}

.row {
  display: flex;

}

.col-md-10 {

  padding: 60px 0;
}

.fontname{
  font-family: cursive;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\2212";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content:"\2b";
}

.panel-heading a:after {
font-family:'Glyphicons Halflings';
content:"\2212";
float: right;
color: grey;
}
.panel-heading a.collapsed:after {
content:"\2b";
}

.tablinks  {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  position: relative;
  overflow: hidden;

}


.myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.one {
  width: 35px;
}

.two {
  width: 98px;
  margin: 3px 20px;
  border: 1px solid #dedada;
  height: 30px;
}

.three {
  width: 98px;
  margin: 3px 20px;
  border: 1px solid #dedada;
  height: 30px;
}

.sidenav {
  height: 90%;
  width: 231px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.08);
  overflow-x: hidden;
  padding-top: 20px;
}
.row {
  width: 100%;
}